pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
/bin/
/.classpath
/.project
/.settings/
.idea/
core.matrix.complex.iml
